<!DOCTYPE html>
<html>
<head>
    <title>Profile - SafeGuard AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>🛡 SafeGuard AI</h2>
    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('history') }}">History</a>
        <a href="{{ url_for('home') }}">Logout</a>>
    </div>
</div>

<div class="dashboard">

    <h2>👤 User Profile</h2>

    <div class="card" style="margin-top:20px; max-width:600px;">

        <div style="text-align:center; margin-bottom:20px;">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                 width="120"
                 style="border-radius:50%; background:white; padding:10px;">
            <h3 style="margin-top:10px;">Poojaa</h3>
        </div>

        <p><strong>Email:</strong> poojaa@email.com</p>
        <p><strong>Phone:</strong> +91 98765 43210</p>
        <p><strong>Emergency Contact 1:</strong> Mom - +91 98765 00000</p>
        <p><strong>Emergency Contact 2:</strong> Friend - +91 98765 11111</p>
        <p><strong>Current Safety Status:</strong> 
            <span style="color:lightgreen;">Safe</span>
        </p>

        <button style="margin-top:20px;">Edit Profile</button>

    </div>

</div>
<footer class="footer">
    <p>© 2026 SafeGuard AI | Built for Women Safety Innovation Expo</p>
    <div>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</footer>

</body>
</html>